<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Killer Keebs</title>
</head>
<body>
<h1><strong>About Killer Keebs</strong></h1>
<a th:href="@{/mainscreen}" style="text-decoration: none">Home</a>
<hr>
<h2>Our Mission</h2>
<h5>At Killer Keebs, our mission is to provide enthusiasts and professionals with high-quality, customizable
keyboards and keyboard parts. We believe in the power of personalization and performance, and we strive to bring
the best products to the market to enhance your typing experience.</h5>
<br/>
<br/>
<h2>Who We Are</h2>
<h5>Founded by a team of keyboard aficionados, Killer Keebs is dedicated to the art and science of mechanical keyboards.
    Our founders' passion for keyboards stems from a love of gaming, programming, and design, leading to the creation of a
    company that prioritizes quality, innovation, and customer satisfaction.</h5>
<br/>
<br/>
<h2>What We Offer</h2>
<ul>
    <li>Mechanical Keyboards: From entry-level to high-end, we offer a range of mechanical keyboards to suit every need and preference. </li>
    <li>Custom Keycaps: Add a personal touch to your keyboard with our wide selection of keycaps in various designs, colors, and materials. </li>
    <li>Switches: Find the perfect switch for your typing style, whether you prefer tactile, clicky, or linear switches.</li>
    <li>Keyboard Accessories: Enhance your setup with our collection of cables, stabilizers, lubricants, and more.</li>
    <li>DIY Kits: For those who love to build their own keyboards, we provide comprehensive kits with all the necessary components.</li>
</ul>

</body>
</html>